.background::before {
  content: "";
  background-image: url("../../assets/images/FondoWork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body-copy {
  font-size: 1.125rem;
  text-align: justify;
  z-index: 2;
  background-size: contain;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 32rem));
  justify-content: space-evenly;
}

.about-image {
  max-width: 100%;
  height: auto;
}

.carousel-image {
  width: 100%;
  max-width: 70rem;
  height: 100%;
  object-fit: contain;
  background-size: contain;
}

/* mision y vision imagen fondo */
.section {
  position: relative;
}

.img-logo::before {
  content: "";
  background-image: url("../../assets/images/logo-sevilla.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* efecto escritura */

.quienes-somos,
.nuestro-equipo,
.principios-valores
{
  display: flex;
  align-self: start;
  justify-content: center;
  align-items: center;
  background:transparent;
}

h1{
  position:relative;
  font-size: 5vh;
  color: #222;
  z-index: 2;
  white-space: auto;
  background-size: contain;
}

h1::before
{
  content: attr(data-text);
  position: absolute;
  color: #a5ce1c;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: animate 8s linear infinite;
  filter: drop-shadow(0 0 20px #a5ce1c) drop-shadow(0 0 50px #a5ce1c);
  background-size: contain;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  h1::before {
    width: auto;
    white-space: auto;
    border-right: none;
  }
}
@keyframes animate
{
  0%,10%,100%
  {
    width: 0%;
  }
  70%,90%
  {
    width: 100%;
  }
}



/* Tarjetas */

.contenedor
{
  height:100%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta
{
  height:95%;
  width: 100%;
  background-color: transparent;
  border-radius: 10%;
  box-shadow: 16px 14px 20px #0000008c;
  position:relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tarjeta::before
{
  content: "";
  position: absolute;
  height:200%;
  width: 150%;
  background-image: conic-gradient(from 80deg at calc(50% + 250px) calc(50% - 250px), #a5ce1c 20deg, transparent 120deg);
  animation: rotar 2s linear infinite;
  z-index: -1;
}

@keyframes rotar {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

.tarjeta::after
{
  content: "";
  position: absolute;
  height: 98%;
  width: 98%;
  /* background-color: #a5ce1c; */
  border-radius: 10%;
  box-shadow: inset 16px 14px 20px #0000008c;
  background-image: url("../../assets/images/FondoWork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 0;

}

/*  */

.tarjeta1
{
  height:95%;
  width: 100%;
  background-color: transparent;
  border-radius: 10%;
  box-shadow: 16px 14px 20px #0000008c;
  position:relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tarjeta1::before
{
  content: "";
  position: absolute;
  height:200%;
  width: 150%;
  background-image: conic-gradient( #a5ce1c 20deg, transparent 120deg);
  animation: rotar 2s linear infinite;
  z-index: -1;
}

.tarjeta1::after
{
  content: "";
  position: absolute;
  height: 98%;
  width: 98%;
  /* background-color: #a5ce1c; */
  border-radius: 10%;
  box-shadow: inset 16px 14px 20px #0000008c;

}

.img-reciclables
{
  height:98%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  border-radius: 10%;
}
