<section class="container-principal home-section">
  <h1 class="title-principal">R. SAVILLA SAS BIC</h1>
  <h3 class="title-second">Recolección y Aprovechamiento de Materiales</h3>
  <h5 class="title-third">Nit: 900950210-0</h5>
</section>
<section class="container">
  <div class="container-ops">
    <div class="drop" style="--clr: #ff0f5b">
      <div class="content">
        <h2>01</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium,
          facere.
        </p>
        <a routerLink="/mi-componente">Conocer mas</a>
      </div>
    </div>
    <div class="drop" style="--clr: #be01fe">
      <div class="content">
        <h2>02</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium,
          facere.
        </p>
        <a routerLink="/mi-componente">Conocer mas</a>
      </div>
    </div>
    <div class="drop" style="--clr: #01b4ff">
      <div class="content">
        <h2>03</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium,
          facere.
        </p>
        <a routerLink="/mi-componente">Conocer mas</a>
      </div>
    </div>
  </div>
</section>
<section class="container">

</section>
